@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Gochi+Hand&family=Libre+Baskerville&display=swap");
li {
  font-size: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gochi Hand", cursive;
  color: #373737;
  overflow-x: hidden;
}

img {
  display: block;
}

.central-wrapper {
  width: 85vw;
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(134, 42, 6, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  position: relative;
  width: 70vw;
  height: 65vh;
  background: #dadd19;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 -5px 15px -5px #373737;
          box-shadow: 0 -5px 15px -5px #373737;
}

.hero .navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 15%;
}

.hero .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.hero .navbar .nav-links .nav-link a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

.hero .main-title {
  font-family: "Freehand", cursive;
  font-size: clamp(2.5rem, 4vw, 6rem);
  line-height: 1.2;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  max-width: 900px;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero .main-title span:last-child {
  margin-left: 50%;
  margin-right: 0;
  white-space: nowrap;
}

.hero .bussola {
  width: 10rem;
  position: absolute;
  top: 0;
  left: -80px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.hero .pen {
  width: 15rem;
  position: absolute;
  bottom: 0;
  right: -100px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.about-link {
  z-index: 10;
  position: relative;
  top: -10px;
  right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: orangered;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  text-transform: uppercase;
  font-size: 0.875rem;
  will-change: contents;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.about-link:hover {
  -webkit-box-shadow: 0 0 10px #dadd19;
          box-shadow: 0 0 10px #dadd19;
}

.about-link:hover a {
  color: white;
}

.about-link a {
  text-decoration: none;
  color: #373737;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
}

.hero-slider-wrapper {
  position: absolute;
  width: 12rem;
  height: 15rem;
  background: whitesmoke;
  bottom: 5vh;
  left: 10vw;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  z-index: 2;
  border: 0.5rem solid white;
  -webkit-box-shadow: 0 -5px 15px -5px #373737;
          box-shadow: 0 -5px 15px -5px #373737;
  overflow: hidden;
}

.hero-slider-wrapper .next {
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
}

.hero-slider-wrapper .last {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.hero-slider-wrapper .active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero-slide-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.img-slide {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

.hero-picture-wrapper {
  position: absolute;
  width: 13rem;
  height: 13rem;
  background: peru;
  top: 7.5vh;
  right: 10vw;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  z-index: 2;
  border: 0.5rem solid white;
  -webkit-box-shadow: 0 -5px 15px -5px #373737;
          box-shadow: 0 -5px 15px -5px #373737;
}

.hero-card-wrapper {
  position: absolute;
  width: 15rem;
  height: 10rem;
  background: papayawhip;
  bottom: 5vh;
  right: 5vw;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  z-index: 0;
  -webkit-box-shadow: 0 -5px 15px -5px #373737;
          box-shadow: 0 -5px 15px -5px #373737;
}

.places-section {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 3rem 0;
}

#places-card-carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 100%;
}

#places-card-carousel .slide-btn {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 2.5rem;
  color: orangered;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#places-card-carousel .prev-btn {
  top: 50%;
  right: -2.25rem;
}

#places-card-carousel .prev-btn:disabled {
  color: rgba(134, 42, 6, 0.7);
}

#places-card-carousel .next-btn {
  top: 50%;
  left: -2.25rem;
}

.places-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 70%;
  gap: 0.75rem;
}

.place-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 23.5%;
  height: 60vh;
  background: khaki;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  will-change: contents;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.place-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1px solid rgba(134, 42, 6, 0.7);
  z-index: 99;
}

.place-card .country-name {
  position: absolute;
  top: 0;
  padding: 0.1rem 1.5rem;
  background-color: rgba(134, 42, 6, 0.7);
  letter-spacing: 2px;
  color: white;
}

.place-card .country-title {
  width: 75%;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 1px 2px #373737;
}

.place-card .underline {
  position: absolute;
  bottom: 15%;
  width: 50%;
  height: 0.2rem;
  background: rgba(134, 42, 6, 0.7);
  border-radius: 5rem;
}

.hide-slide {
  opacity: 0;
}

.main-wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.main-wrapper .gallery {
  padding: 5rem 0;
  width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.main-wrapper .gallery .gallery-image {
  border: 5px solid white;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
  -webkit-transition: all, 0.5s ease-in-out;
  transition: all, 0.5s ease-in-out;
}

.main-wrapper .gallery .gallery-image:hover {
  cursor: pointer;
  border: 5px solid #dadd19;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  z-index: 98;
}

#gallery-full-carousel-wrapper {
  opacity: 0;
  background-color: #862a06;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -99;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#gallery-full-carousel-wrapper #close-gallery {
  bottom: 5vh;
  right: 5%;
  color: white;
  font-size: 5rem;
  background: transparent;
  border: none;
  opacity: 0.2;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  will-change: contents;
}

#gallery-full-carousel-wrapper #close-gallery:hover {
  opacity: 0.7;
  color: orangered;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#gallery-full-carousel-wrapper .gallery-full-carousel {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#gallery-full-carousel-wrapper .gallery-full-carousel .full-carousel-image {
  background-color: palegreen;
  position: absolute;
  opacity: 0;
  top: 2.5vh;
  left: 15%;
  right: 15%;
  width: auto;
  height: 95vh;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#gallery-full-carousel-wrapper .gallery-full-carousel .next {
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  border-left: 3px solid white;
  border-right: 3px solid white;
}

#gallery-full-carousel-wrapper .gallery-full-carousel .last {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  border-left: 3px solid white;
  border-right: 3px solid white;
}

#gallery-full-carousel-wrapper .gallery-full-carousel .active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hide-carousel {
  -webkit-transform: translateY(-130%) !important;
          transform: translateY(-130%) !important;
}

.show-carousel {
  opacity: 1 !important;
  z-index: 999 !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#journal {
  margin: 5rem 0;
  min-width: 100vh;
  min-height: 100vh;
}

#journal .journal-text-wrapper:nth-child(odd) .journal-image {
  float: left !important;
  margin-right: 1rem;
}

#journal .journal-text-wrapper:nth-child(even) .journal-image {
  float: right !important;
  margin-left: 1rem;
}

.journal-header {
  width: 100vw;
  height: 35vh;
  -webkit-box-shadow: 0 0 15px #3b2c18;
          box-shadow: 0 0 15px #3b2c18;
  background: radial-gradient(circle, rgba(116, 99, 46, 0.2) 0%, rgba(238, 196, 56, 0.3) 52%, rgba(255, 255, 255, 0.6) 100%), url(/images/DSC_0210.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journal-header .journal-banner-title {
  color: #3b2c18;
  text-shadow: 1px 1px 15px rgba(192, 211, 216, 0.952);
  font-size: 4rem;
  letter-spacing: 2px;
}

.journal-header .journal-banner-text {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 2px;
  text-shadow: 3px 3px 10px black;
}

.journal-text-wrapper {
  width: 80vw;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2.5rem 2rem;
  -webkit-box-shadow: 5px 5px 20px rgba(160, 160, 160, 0.5);
          box-shadow: 5px 5px 20px rgba(160, 160, 160, 0.5);
}

.journal-text-wrapper .journal-title {
  font-size: 1.75rem;
}

.journal-text-wrapper .journal-info {
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.journal-text-wrapper .journal-info p {
  font-size: 1.25rem;
}

.journal-text-wrapper .journal-text {
  display: block;
  padding: 1rem 2rem;
  text-align: justify;
}

.journal-text-wrapper .journal-text span {
  text-indent: 2rem;
  display: block;
  padding: 0.5rem 0;
}

.journal-text-wrapper .journal-text .journal-image {
  width: 35vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 6px solid white;
}

.footer {
  width: 100vw;
  height: 20vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #862a06;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

#back-to-top-btn {
  position: fixed;
  opacity: 0;
  bottom: 5vh;
  right: 2.5vw;
  background: none;
  border: none;
  will-change: contents;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#back-to-top-btn:hover {
  -webkit-animation: bounce 0.5s ease-in-out infinite;
          animation: bounce 0.5s ease-in-out infinite;
}

#back-to-top-btn i {
  font-size: 3rem;
  color: rgba(134, 42, 6, 0.7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#back-to-top-btn i:hover {
  color: orangered;
}

.show-back-btn {
  opacity: 1 !important;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */