@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Gochi+Hand&family=Libre+Baskerville&display=swap");

// ********* VARIABLES ********* //
$font-primary: "Freehand", cursive;
$font-secondary: "Gochi Hand", cursive;
$letter-spacing-100: 1px;
$letter-spacing-200: 2px;
$color-primary-100: rgb(218, 221, 25);
$color-primary-300: rgb(255, 69, 0);
$color-primary-500: rgba(134, 42, 6, 0.7);
$color-primary-600: rgba(134, 42, 6, 1);
$color-primary-700: rgb(59, 44, 24);
$color-light-100: rgb(255, 255, 255);
$color-light-200: rgba(192, 211, 216, 0.952);

$color-dark-100: rgba(160, 160, 160, 0.5);
$color-dark-500: rgb(55, 55, 55);
$color-dark-900: rgb(0, 0, 0);
$box-shadow-500: 0 -5px 15px -5px $color-dark-500;
$transition-500: all 0.3s ease-in-out;

// ********* GENERAL ********* //
li {
	font-size: 1.25rem;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: $font-secondary;
	color: $color-dark-500;
	overflow-x: hidden;
}
img {
	// max-width: 100%;
	// height: auto;
	display: block;
}
.central-wrapper {
	width: 85vw;
	max-width: 1200px;
	margin: 0 auto;
}
// ********* HEADER ********* //
.header-wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: $color-primary-500;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero {
	position: relative;
	width: 70vw;
	height: 65vh;
	background: $color-primary-100;
	z-index: 1;
	flex-direction: column;
	box-shadow: $box-shadow-500;

	.navbar {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 15%;
		.nav-links {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1.5rem;

			.nav-link {
				a {
					font-size: 1.5rem;
					text-decoration: none;
					color: $color-light-100;
					letter-spacing: $letter-spacing-200;
				}
			}
		}
	}

	// main title
	.main-title {
		font-family: $font-primary;
		//font size using vw for responsive design
		font-size: clamp(2.5rem, 4vw, 6rem);
		line-height: 1.2;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		width: 85%;
		max-width: 900px;
		position: absolute;
		top: 35%;
		left: 50%;
		transform: translateX(-50%);
		span:last-child {
			// margin-left: unquote("min(50%, 300px)"); //
			margin-left: 50%;
			margin-right: 0;
			white-space: nowrap;
		}
	}
	.bussola {
		width: 10rem;
		position: absolute;
		top: 0;
		left: -80px;
		transform: rotate(-15deg);
	}
	.pen {
		width: 15rem;
		position: absolute;
		bottom: 0;
		right: -100px;
		transform: rotate(-15deg);
	}
}

// about link
.about-link {
	z-index: 10;
	position: relative;
	top: -10px;
	right: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: $color-primary-300;
	transform: rotate(-10deg);
	text-transform: uppercase;
	font-size: 0.875rem;
	will-change: contents;
	transition: all 0.3s ease-in-out;

	&:hover {
		box-shadow: 0 0 10px $color-primary-100;
		a {
			color: $color-light-100;
		}
	}
	a {
		text-decoration: none;
		color: $color-dark-500;
		transition: all 0.3s ease-in-out;
		letter-spacing: $letter-spacing-100;
	}
}

//// slider 1
.hero-slider-wrapper {
	position: absolute;
	width: 12rem;
	height: 15rem;
	background: whitesmoke;
	bottom: 5vh;
	left: 10vw;
	transform: rotate(5deg);
	z-index: 2;
	border: 0.5rem solid white;
	box-shadow: $box-shadow-500;
	overflow: hidden;
	.next {
		transform: translatex(100%);
	}
	.last {
		transform: translateX(-100%);
	}
	.active {
		opacity: 1;
		transform: translateX(0);
	}
}
.hero-slide-1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.img-slide {
	display: grid;
	place-items: center;
	height: 100%;
}

.hero-picture-wrapper {
	position: absolute;
	width: 13rem;
	height: 13rem;
	background: peru;
	top: 7.5vh;
	right: 10vw;
	transform: rotate(-5deg);
	z-index: 2;
	border: 0.5rem solid white;
	box-shadow: $box-shadow-500;
}
.hero-card-wrapper {
	position: absolute;
	width: 15rem;
	height: 10rem;
	background: papayawhip;
	bottom: 5vh;
	right: 5vw;
	transform: rotate(6deg);
	z-index: 0;
	box-shadow: $box-shadow-500;
}
// ********* end of HEADER ********* //

// ********* CAROUSEL COUNTRIES MENU CARDS ********* //
.places-section {
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	padding: 3rem 0;
}

#places-card-carousel {
	// overflow-x: unset;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 85%;
	height: 100%;
	// &:scrollbar-width: none;

	.slide-btn {
		position: absolute;
		background: transparent;
		border: none;
		font-size: 2.5rem;
		color: $color-primary-300;
		z-index: 99;
		transition: $transition-500;
		&:hover {
			transform: scale(1.2);
		}
	}
	.prev-btn {
		top: 50%;
		right: -2.25rem;
		&:disabled {
			color: $color-primary-500;
		}
	}
	.next-btn {
		top: 50%;
		left: -2.25rem;
		&:disabled {
			color: $color-primary-500;
		}
	}
}
.places-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 70%;
	gap: 0.75rem;
}

.place-card {
	position: absolute;
	top: 0;
	left: 0;
	width: 23.5%;
	height: 60vh;
	background: khaki;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	will-change: contents;
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(1.025);
		// transform: scale(1.1);
		border: 1px solid $color-primary-500;
		z-index: 99;
	}

	.country-name {
		position: absolute;
		top: 0;
		padding: 0.1rem 1.5rem;
		background-color: $color-primary-500;
		letter-spacing: $letter-spacing-200;
		color: $color-light-100;
	}
	.country-title {
		width: 75%;
		margin-top: 5rem;
		text-align: center;
		font-size: 1.25rem;
		font-weight: bold;
		color: $color-light-100;
		letter-spacing: $letter-spacing-200;
		text-shadow: 0 1px 2px $color-dark-500;
	}
	.underline {
		position: absolute;
		bottom: 15%;
		width: 50%;
		height: 0.2rem;
		background: $color-primary-500;
		border-radius: 5rem;
	}
}
.hide-slide {
	opacity: 0;
}

// ********* end of CAROUSEL COUNTRIES MENU CARDS ********* //

// ********* GALLERY  IMAGES ********* //
.main-wrapper {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	// background-color: $color-light-200;
	//gallery general view
	.gallery {
		padding: 5rem 0;
		// position: relative;
		width: 80vw;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: auto;
		// gap: 0.5rem;
		.gallery-image {
			border: 5px solid $color-light-100;
			box-shadow: 1px 1px 5px $color-dark-900;
			transition: all, 0.5s ease-in-out;
			&:hover {
				cursor: pointer;
				border: 5px solid $color-primary-100;
				transform: scale(1.15);
				z-index: 98;
			}
		}
	}
}

// 	GALLERY FULL CAROUSEL
#gallery-full-carousel-wrapper {
	opacity: 0;
	background-color: $color-primary-600;
	position: absolute;
	display: flex;
	flex-direction: column-reverse;

	top: 0;
	left: 0;
	// transform: translateY(0);
	width: 100vw;
	height: 100vh;
	// transform: translateY(-100%);

	z-index: -99;
	transition: all 0.5s ease-in-out;
	#close-gallery-btn {
		align-self: flex-end;
		margin-right: 5vw;
		color: $color-light-100;
		font-size: 5rem;
		background: transparent;
		border: none;
		opacity: 0.2;
		z-index: 999;
		transition: $transition-500;
		will-change: contents;
		&:hover {
			opacity: 0.7;
			color: $color-primary-300;
			transform: scale(1.1);
		}
	}
	.gallery-full-carousel {
		transition: $transition-500;

		.full-carousel-image {
			background-color: palegreen;
			position: absolute;
			opacity: 0;
			top: 2.5vh;
			left: 15%;
			right: 15%;
			width: auto;
			height: 95vh;

			transition: all 0.5s linear;
		}
		.next {
			transform: translatex(-100%);
			border-left: 3px solid white;
			border-right: 3px solid white;
		}
		.last {
			transform: translateX(100%);
			border-left: 3px solid white;
			border-right: 3px solid white;
		}
		.active {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

.hide-carousel {
	transform: translateY(-130%) !important;
	// top: -100% !important;
}
.show-carousel {
	opacity: 1 !important;
	z-index: 999 !important;

	// transform: translateY(0) !important;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}
// ********* end of GALLERY  IMAGES ********* //

// ********* JOURNAL ********* //

// ********* end of JOURNAL ********* //
#journal {
	margin: 5rem 0;
	min-width: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.journal-text-wrapper:nth-child(odd) {
		.journal-image {
			float: left !important;
			margin-right: 1rem;
			// margin-bottom: 1rem;
		}
	}
	.journal-text-wrapper:nth-child(even) {
		.journal-image {
			float: right !important;
			margin-left: 1rem;
			// margin-bottom: 1rem;
		}
	}
	#journal-pages {
		margin-top: 2rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;

		[data-page] {
			display: grid;
			place-items: center;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			color: $color-dark-500;
			font-size: 2rem;
			line-height: 1.1;
			margin: 0 auto;
			cursor: pointer;
			transition: $transition-500;
			&:hover {
				background-color: $color-light-200;
				color: $color-primary-300;
			}
		}
	}
}
.journal-header {
	width: 100vw;
	height: 35vh;
	// border-top: 5px solid $color-primary-500;
	box-shadow: 0 0 15px $color-primary-700;
	background: radial-gradient(
			circle,
			rgba(116, 99, 46, 0.2) 0%,
			rgba(238, 196, 56, 0.3) 52%,
			rgba(255, 255, 255, 0.6) 100%
		),
		url(/images/DSC_0210.JPG);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.journal-banner-title {
		color: $color-primary-700;
		text-shadow: 1px 1px 15px $color-light-200;
		font-size: 4rem;
		letter-spacing: $letter-spacing-200;
	}
	.journal-banner-text {
		font-size: 1.5rem;
		color: $color-light-100;
		letter-spacing: $letter-spacing-200;
		text-shadow: 3px 3px 10px $color-dark-900;
	}
}
.journal-text-wrapper {
	width: 80vw;
	margin: 0 auto;
	margin-top: 3rem;
	padding: 2.5rem 2rem;
	box-shadow: 5px 5px 20px $color-dark-100;
	// float: right;
	.journal-title {
		font-size: 1.75rem;
	}
	.journal-info {
		padding: 1rem 3rem;
		display: flex;
		justify-content: space-between;

		& p {
			font-size: 1.25rem;
		}
	}
	.journal-text {
		display: block;
		padding: 1rem 2rem;
		text-align: justify;

		& span {
			text-indent: 2rem;
			display: block;
			// margin-left: 2rem;
			padding: 0.5rem 0;
		}
		.journal-image {
			width: 35vw;
			display: inline-flex;
			// float: right;

			border: 6px solid $color-light-100;
			// &:nth-child(odd) {
			// 	float: left;
			// }
		}
	}
}

// ********* FOOTER ********* //
.footer {
	width: 100vw;
	height: 20vh;
	display: grid;
	place-items: center;
	background-color: $color-primary-600;
	color: $color-light-100;
	font-size: 1.5rem;
	letter-spacing: $letter-spacing-200;
}
// ********* end of FOOTER ********* //

// ********* BACK TO TOP BTN ********* //
#back-to-top-btn {
	position: fixed;
	opacity: 0;
	bottom: 5vh;
	right: 2.5vw;
	background: none;
	border: none;
	will-change: contents;
	transition: $transition-500;
	cursor: pointer;
	&:hover {
		animation: bounce 0.5s ease-in-out infinite;
	}
	& i {
		font-size: 3rem;
		color: $color-primary-500;
		transition: $transition-500;
		&:hover {
			// transform: scale(1.2);
			color: $color-primary-300;
		}
	}
}
.show-back-btn {
	opacity: 1 !important;
}
@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(0);
	}
}
